 #first-btn,
    #college-btn {
      background-color: blue;

      color: white
    }

    .cool {
      background-color: tomato;
      color: white;
    }

    .vodro {
      font-size: 40px;
    }

    div h2 {
      color: blueviolet;
      font-family: 'Courier New', Courier, monospace;
    }

    /* *{    
    text style
    button style
    image style
    box style
    } */